.usr{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.usr:hover{
    background-color: rgb(103, 124, 151);
}


.sym{
align-self: center;
}

.usr-cont{
 display: flex;
 width: 900px;
}

.cont-23{
    display: flex;
    width: 650px;
    background-color: rgb(15,45,85)!important;
}

.usrs{
    max-width: 35%;
    background-color: rgb(23, 65, 121);
    border-radius: 5px;
    transition: 1s ease-in-out;
    height: 100%;
}
