.usr{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.usr:hover{
    background-color: rgb(168, 92, 255);
}


.sym{
align-self: center;
}

.usr-cont{
 display: flex;
 width: 900px;
}

.cont-23{
    display: flex;
    width: 650px;
    background-color: rgb(208, 167, 255)!important;
}

.usrs{
    max-width: 35%;
    background-color: rgb(208, 167, 255);
    border-radius: 5px;
    transition: 1s ease-in-out;
}
