.cont-list{
    word-wrap: break-word;
    text-align: center;
    color:#2f156b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  


  .list-img{
    width: 400px;
    height: 300px;
  margin-top: 30px;
  object-fit: contain;
    
  }

  .stats{
    text-align: left;
  }


  .stat{
    margin-top: 20px;
  }

  .title-list{
    margin-bottom:20px
  }

  .mail:hover{
    color:#7e47ff

  }

 